.conteiner {
    display: grid;
    place-items: center;
}

.content {

    width: 1100px;
    height: 850px;
    gap: 20px; 
    align-items: start;
    margin-top: auto;
    display: flex;
    flex: 1;
    overflow: hidden;

}

.items {
    display: block;
}

.grid_item {
    margin-top: 30px;
    background-color: #fff;
    max-height:  280px;
    max-width: 633px;
    border-radius: 30px;
}


.grid_item img {
    width: 100%;
    max-width: 146px;
    margin-left: 15px;
  }
  
  .grid_item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  
  .grid_item .price {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
  }
  
  .grid_item .rating {
    display: flex;
    
  }
  
  .grid_item .rating span {
    font-size: 20px;
    margin-right: 5px;
    color: #ffc107;
  }
  
  .grid_item .buy {
  background-color: #fff;
    border: none;
    cursor: pointer;
    color: 000000;
    font-size: 17px;
    font-weight: bold;
  }
  
  
  .card_top{

    height: 140px;
    width: 146px;
    padding-left: 20px;
    padding-top: 5px;
  }
  
  
  .card_body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    gap: 5px;
    
  }
  

  .cart__checkout {
    width: 400px; 
    margin-top: 30px;
    margin-left: 90px;
    align-items: start;

  }
  
  .final_price {
    width: 350px;
    height: 120px;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
  }

  .final_price span {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 17px;
    font-weight: 500;
  }
  
  .final_price_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .buy {
    width: 350px;
    height: 65px;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-decoration: none;
  }
  

  .minus {
    height: 24px;
    width: 24px;
    position: absolute;
    padding-top: 156px;

    right: 1280px;
  }

  .plus {
    height: 24px;
    width: 24px;
    position: absolute;
    padding-top: 156px;
    right: 1190px;
  }

  .counter {
    position: block;
    padding-top: 156px;
    right: 100px;
  }