.conteiner {
    display: grid;
    place-items: center;

}

.cardConteiner {

    background-color: #EAEAEA;
    width: 1100px;
    height: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    place-items: center;

}


.wireless_headphones {

    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 1100px;
    height: 445px;  
    background-color: EAEAEA;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    place-items: center;

}

.sortname1 {
    margin-top: 10px;
    margin-right: 990px;
    color: #838383;
}

.sortname2 {
    margin-right: 880px;
    color: #838383;
}


