.conteiner {
    /* display: grid; */
    display: grid;
    place-items: center;

}

.cardConteiner {
    background-color: #babfd4e3;
    width: 1100px;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
}