.conteiner {
    display: grid;
    place-items: center;

}

.cardConteiner {

    background-color: #EAEAEA;
    width: 1100px;
    height: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    place-items: center;

}


.wireless_headphones {

    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 1100px;
    height: 445px;  
    background-color: EAEAEA;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    place-items: center;

}


.grid_item {
    background-color: #fff;
    height:  407px;
    width: 350px;
    border-radius: 30px;
}

.grid_item:hover {
  box-shadow: 6px 10px 12px rgba(186, 183, 182, 0.369);
}


.grid_item {
  display: grid;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  box-sizing: border-box;

  

}

.grid_item img {
  width: 100%;
  max-width: 170px; /* Ограничиваем максимальную ширину изображения */
  margin-bottom: 20px;
}

.grid_item h2 {
  font-size: 24px;
  margin-bottom: 10px;
  
}

.grid_item .price {
  font-size: 18px;
  font-weight: bold;
  color: #f39c12; /* Или другой подходящий цвет */
  margin-bottom: 15px;
}

.grid_item .rating {
  display: flex;
  
}

.grid_item .rating span {
  font-size: 20px;
  margin-right: 5px;
  color: #ffc107; /* Цвет звезд */
}

.grid_item .buy {
background-color: #fff;
  border: none;
  cursor: pointer;
  color: 000000;
  font-size: 17px;
  font-weight: bold;
}


.card_top{
  flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
  position: relative;
  overflow: hidden; 
  height: 206px;
  width: 310px;
}


.card_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Создаем 2 колонки одинаковой ширины */
  grid-template-rows: repeat(1, 1fr); /* Создаем 2 строки одинаковой высоты */
  gap: 20px;
  
}

.sortname1 {
    margin-top: 10px;
    margin-right: 990px;
    color: #838383;
}

.sortname2 {
    margin-right: 880px;
    color: #838383;
}


